@charset "utf-8";
/* CSS Document */

$color-background: /*#141412*/ #010101;
$color-background-text: none;
$c_black: #000;
$c_boxes: #914803;
$c_text: #fff;
$c_orange: #FF9E00;
$c_white: $c_text;

*
{
	padding: 0;
	margin: 0;
	/*background:black !important;
	box-shadow:0px 0px 0px 1px green !important;
	color:green !important;*/
}

html, body 
{	
	margin: 0px;
	padding: 0px;
	background:black;
}

#myCanvas
{
	width: 80%;
	height: 100%;
	position:absolute;
	left: 20%;	
}